body{
    background-color: black;
    text-align: center;
    fornt-family: verdana, Geneva, Tahoma, sans-serif;
}

.header--main{
    fornt-weight: normal;
    fornt-size: 50px;
    color: white;
}

.link-main{
    fornt-size: 16px;
    color: aquamarine;
    
}